/*//////////////////////////////////////////////////////////////////////////////
	LINKS
//////////////////////////////////////////////////////////////////////////////*/

a {
	text-decoration: none;
	border-bottom: 1px solid;
	color: $black;
	position: relative;
	&:visited {
		color: $black;
	}
	&:active {
		top: 1px;
	}
	&:hover {}
}

h1, h2, h3, h4, h5, h6 {
	a {
		border: none;
	}
}