/*//////////////////////////////////////////////////////////////////////////////
	QUOTES
//////////////////////////////////////////////////////////////////////////////*/

q {
	font-style: italic;
}

blockquote {
	font-style: italic;
	padding: 20px;
}

cite {
	
}