.node-type-landing-page-produkt {
	.col-4 {
		min-height: 500px;
	}
}

.field-name-field-teaser-cta-sub-produkt  {
	padding: 5px 10px 0 10px;
	max-width: 360px;
}

.site-teaser-main-produkt {
	float: right;
	margin-right: -20px;
	margin-top: -20px;
	position: relative;

}


