/*//////////////////////////////////////////////////////////////////////////////
    BROWSER DEBUG STYLES
//////////////////////////////////////////////////////////////////////////////*/

*[class^="site-"] {
	position: relative;
	outline: 1px solid;
}

*[class^="site-"]::before {
	position: absolute;
	top: 0;
	right: 0;
	content: attr(class) " ";
	border: 1px solid;
	@include font-m;
	font-family: $font-family-code;
}


body .row:before {
    width: calc(100% - 40px);
    @media (min-width: 1240px) {
        width: 1200px;
    }
    @media (min-width: 1480px) {
        width: 1440px;
    }
    height: 100%;      
    display: block; 
    content: ""; 
    position: absolute;
    z-index: 9999; 
    pointer-events:none;
    background-origin: content-box;  
    background-attachment: local;
    @media (min-width: 760px) {
        background-image: 
            -webkit-linear-gradient(0deg, $black 0, transparent 1px),
            -webkit-linear-gradient(0deg, rgba(255,0,0,.1) 20px, transparent 20px),
            -webkit-linear-gradient(0deg, transparent calc(100% - 20px), rgba(255,0,0,.2) calc(100% - 20px)),
            -webkit-linear-gradient(top, transparent 9px, rgba(0, 0,0,.05) 9px); 
        background-size: 
            20% 100%, 20% 100%, 20% 100%, 100% 10px; 
    }
    @media (min-width: 1240px) {
        background-image: 
            -webkit-linear-gradient(0deg, $black 0, transparent 1px),
            -webkit-linear-gradient(0deg, rgba(255,0,0,.1) 20px, transparent 20px),
            -webkit-linear-gradient(0deg, transparent 80px, rgba(255,0,0,.2) 80px),
            -webkit-linear-gradient(top, transparent 9px, rgba(0, 0,0,.05) 9px);
        background-size: 
            100px 100%, 100px 100%, 100px 100%, 100% 10px; 
    }
    @media (min-width: 1480px) {
        background-image: 
            -webkit-linear-gradient(0deg, $black 0, transparent 1px),
            -webkit-linear-gradient(0deg, rgba(255,0,0,.1) 10px, transparent 10px),
            -webkit-linear-gradient(0deg, transparent 110px, rgba(255,0,0,.1) 110px),
            -webkit-linear-gradient(top, transparent 9px, rgba(0, 0, 0, 0.05) 9px);
        background-size: 
            120px 100%, 120px 100%, 120px 100%, 100% 10px;
    }
    
}


body {
    &:after {
        content: "mobile < 760px";
        position: fixed;
        bottom: 0;
        right: 0;
        background: red;
        padding: 10px;
        z-index: 9999999999;
    }
    @media (min-width: 760px) {
        &:after {
            content: "tablet 760px - 1000px";
            background: orange;
        }
    }
    @media (min-width: 1240px) {
        &:after {
            content: "desktop small 1240px - 1480px";
            background: yellow;
        }
    }
    @media (min-width: 1480px) {
        &:after {
            content: "desktop big > 1480px";
            background: green;
        }
    }
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    outline: 1px solid red;
}